<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!-- <p class="text-danger">Home works !</p>
    <h1 [style.color]="onSale == true ? 'red' : 'green'"></h1>
    <h3><span>Name:</span>{{ userName }}</h3>
    <h3><span>Age:</span>{{ userAge }}</h3>
    <h3 [class]="price > 4000 ? 'text-success' : 'text-danger'">
      <span>Price:</span>
    </h3>
    <a [href]="link">google</a>
    <img [src]="imgURL" class="w-25" alt="image" />
    <button (click)="welcome()" type="button" class="btn btn-danger">
      Submit
    </button> -->

    <!-- <section id="products">
      <div *ngIf="products.length != 0; else noData " class="container">
        <div class="row">
          <div *ngFor="let product of products" class="col-md-3">
            <h4>{{ product.productName }}</h4>
            <img [src]="product.productImage" class="w-100" alt="image" />
            <p>{{ product.productDescription }}</p>
            <p>{{ product.productPrice }}</p>
          </div>
        </div>
      </div>
      <ng-template #noData>
        <p>there is no data</p>
      </ng-template>
    </section> -->

    <!-- <section id="products">
      <div class="container">
        <div class="row">
          <div [ngSwitch]="products[1].productName" class="col-md-3">
            <div *ngSwitchCase="'HP'">
              <h4>hp</h4>
            </div>
            <div *ngSwitchCase="'Dell'">
              <h4>{{ products[1].productName }}</h4>
            </div>
            <div *ngSwitchCase="'Mac'">
              <h4>Mac</h4>
            </div>
            <div *ngSwitchDefault>
              <h4>No Product Matches</h4>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section id="search">
      <div class="container">
        <div class="search-input">
          <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input
              type="text"
              [(ngModel)]="userName"
              class="form-control"
              name="userName"
              id="name"
              aria-describedby="helpId"
              placeholder="Enter your name"
            />
            <p>{{ userName }}</p>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section id="products">
      <div *ngIf="products.length != 0; else noData " class="container">
        <div class="row">
          <div *ngFor="let product of products" class="col-md-3">
            <h4>{{ product.productName }}</h4>
            <img [src]="product.productImage" class="w-100" alt="image" />
            <p>{{ product.productDescription }}</p>
            <p>{{ product.productPrice }}</p>
          </div>
        </div>
      </div>
      <ng-template #noData>
        <p>there is no data</p>
      </ng-template>
    </section> -->

    <section id="recipes">
      <div class="container">
        <div class="row">
          <div *ngFor="let recipy of recipes" class="col-md-3">
            <h4>{{ recipy.title }}</h4>
            <img [src]="recipy.image_url" alt="{{recipy.title}}" class="w-100">
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
